.studentTotals {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

.searchBarInput {
    max-width: 320px;
    width: 100%;
    margin-bottom: 30px;
    height: 35px;
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 8px;
    outline: none;
    border: 1px solid gray;
}
.listArea {
    display: flex;
    justify-content: center;
}
  .studentNameList {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }
  
  .studentDonationAmountList {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }
  
  .listItemText {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .listItemSeparator {
    width: 1px;
    background-color: #c1c1c1;
    margin-left: 40px;
    margin-right: 40px;
  }
  
  .listItemText {
    color: #5d5d5d;
    margin-bottom: 10px;
  }